.sevillana-regular {
  font-family: "Sevillana", cursive;
  font-weight: 400;
  font-style: normal;
  color: #96583f;
}

.lorauniquifier {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: #96583f;
}

p {
  font-size: 20px;
}
