* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.sevillana-regular {
  font-family: "Sevillana", cursive;
  font-weight: 400;
  font-style: bold;
  color: #96583f;
}

.lorauniquifier {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: bold;
  color: #96583f;
}

p {
  font-size: 20px;
  color: black;
}
